<div class="row">
  <a href="/settings" class="col-xs-3 btn btn-danger">各種登録管理へ戻る</a>
  <div class="col-xs-3 col-xs-offset-6"></div>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4 text-center"><h2>納品方法管理</h2></div>
</div>

<table class="table table-boarderd">
  <thead>
    <th>id</th>
    <th>納品方法</th>
  </thead>
  <tbody>
<%= form_for(Deliverymethod.new) do |f| %>
    <td><%= f.text_field :id,size: 2 %></td>
    <td><%= f.text_field :text %></td>
  <td><%= f.submit "登録" %></td>
<% end %>
  </tbody>
</table>
  

<table class="table table-boarderd">
  <thead>
    <th>id</th>
    <th>納品方法</th>
  </thead>
  <tbody>
<% @methods.each do |p| %>
  <%= form_for(Deliverymethod.find(p.id)) do |f| %>
  <tr>
    <td><%= p.id %></td>
    <td><%= f.text_field :text %></td>
    <td><%= f.submit "編集" %></td>
  </tr>
  <% end %>
<% end %>
  </tbody>
</table>