<div class="row no_print">
  <a href="/enforcements" class="col-xs-3 btn btn-danger">戻る</a>
</div>
<div class="row no_print">
  <div class="col-xs-4 col-xs-offset-4 text-center"><h2>施行済み葬儀・編集</h2></div>
</div>

<%= form_for(@enforce) do |f| %>

  <div class="form-group">
    <label class="left_column">会員ID</label>
    <%= f.text_field :member_id %>
  </div>

  <div class="form-group">
    <label class="left_column">家</label>
    <%= f.text_field :family_name %>&nbsp;家
  </div>
<%= @enforce.inspect %>
  <% if @member %>
    <div class="form-group">
      <label class="left_column">会員氏名</label>
      <%= @member.name %>
    </div>
  
    <div class="form-group">
      <label class="left_column">会員カナ</label>
      <%= @member.namekana %>
    </div>
  <% else %>
    <div class="form-group">
      <label class="left_column">氏名（一般）</label>
      <%= f.text_field :applicantlastname,size: 7 %>
      <%= f.text_field :applicantfirstname,size: 7 %>
    </div>
    <div class="form-group">
      <label class="left_column">氏名カナ</label>
      <%= f.text_field :applicantkana %>
    </div>
  <% end %>
  
  <div class="form-group">
    <label class="left_column">区分</label>
    <%= f.radio_button :classification, :ホクシン %>ホクシン
    <%= f.radio_button :classification, :共済会 %>共済会
  </div>
  
  <div class="form-group">
    <label class="left_column">会種</label>
    <%= f.collection_select :kind_id, Kind.all, :id, :text,  {:include_blank => true}, {style: "width:190px;"} %>
  </div>
  
  <div class="form-group">
    <label class="left_column">担当</label>
    <%= f.collection_select :employee_id, Employee.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
  </div>
  
  <div class="form-group">
    <label class="left_column">故人名</label>
    <%= f.text_field :deceased %>
  </div>

  <div class="form-group">
    <label class="left_column">生年月日</label>
    <%= f.date_select(:birthday, :use_month_numbers => true, start_year:1890, end_year:Time.now.year, default: Date.new(Time.now.year-40, 6, 15)) %>
  </div>
  
  <div class="form-group">
    <label class="left_column">御逝去日</label>
    <%= f.date_select(:ddate, :use_month_numbers => true, start_year:1890, end_year:Time.now.year, default: Date.new(Time.now.year-40, 6, 15)) %>
    行年：<span id="age"></span>才<span style="padding:0 20px;"></span>満：<span id="afterAge"></span>才
  </div>

  <div class="form-group">
    <label class="left_column">喪主</label>
    <%= f.text_field :cliefmaster %>
    <label>続柄</label>
    <%= f.text_field :relationship %>
  </div>

  <div class="form-group">
    <label class="left_column">施主</label>
    <%= f.text_field :constructor %>
  </div>
  
  <% if @member %>
    <div class="form-group">
      <label class="left_column">市区町村</label>
      <%= @member.city %>
    </div>
  
    <div class="form-group">
      <label class="left_column _small">番地・ﾏﾝｼｮﾝ名</label>
      <%= @member.streetaddress %>
    </div>
  <% else %>
    <div class="form-group">
      <label class="left_column">市区町村</label>
      <%= f.text_field :city %>
    </div>
  
    <div class="form-group">
      <label class="left_column _small">番地・ﾏﾝｼｮﾝ名</label>
      <%= f.text_field :streetaddress %>
    </div>
  <% end %>
    
  <div class="form-group">
    <label class="left_column">固定電話</label>
    <%= f.text_field :tel %>
  </div>
    
  <div class="form-group">
    <label class="left_column">携帯電話</label>
    <%= f.text_field :mobile %>
  </div>

  <div class="form-group">
    <label class="left_column">プラン価格</label>
    <%= f.text_field :plan %>
    <label>総合計</label>
    <%= f.text_field :total %>
  </div>


  <div class="row">
    <label class="col-md-2" style="width:85px;">日時</label>
    <div class="col-md-10">
      <div style="width:60px;display:inline-block;">通夜</div>
      <%= f.datetime_select(:wake, :use_month_numbers => true, start_year:1890, end_year:Time.now.year+1, default: Date.new(Time.now.year, 6, 15)) %>
<br>
      <div style="width:60px;display:inline-block;" class="spacer">告別式</div>
      <%= f.datetime_select(:funeral, :use_month_numbers => true, start_year:1890, end_year:Time.now.year+1, default: Date.new(Time.now.year, 6, 15)) %>
<br>
      <div style="width:60px;display:inline-block;" class="spacer">出棺</div>
      <%= f.datetime_select(:coffin, :use_month_numbers => true, start_year:1890, end_year:Time.now.year+1, default: Date.new(Time.now.year, 6, 15)) %>

    </div> 

  </div>
  
  <div class="form-group spacer">
    <label class="left_column">式場名</label>
    <%= f.collection_select :ceremonial_id, Ceremonialplace.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
  </div>
  
  <% if f.object.ceremonial_id.present? %>
  <% ce = Ceremonialplace.find(f.object.ceremonial_id) %>
    <div class="form-group">
      <label class="left_column">式場住所</label>
      <%= ce.address %>
    </div>
    <div class="form-group">
      <label class="left_column">式場電話</label>
      <%= ce.tel %>
    </div>
  <% end %>
  
<div class="row">
  <div class="col-md-4">
    <label class="left_column">式場使用料</label>
    <%= f.text_field :royarity %>
  </div>
  <div class="col-md-4">
    <label>当社負担分</label>
    <%= f.text_field :burdon %>
  </div>
  <div class="col-md-4">
    <label>光熱費</label>
    <%= f.text_field :ucosts %>
  </div>
</div>
  
  <div class="form-group">
    <label class="left_column spacer">寺院名</label>
    <%= f.collection_select :temple_id, Temple.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
  </div>
  <% if f.object.temple_id.present? %>
  <% temple = Temple.find(f.object.temple_id) %>
  
    <div class="form-group">
      <label class="left_column">住所</label>
      <%= temple.address %>
    </div>
  
    <div class="form-group">
      <label class="left_column">電話番号</label>
      <%= temple.tel %>
    </div>
  <% end %>


  <div class="form-group">
    <label class="left_column">人数</label>
    <%= f.text_field :number_of_pepole %>
  </div> 
 
  <div class="row">
    <label class="col-md-1">礼状</label>
    <div class="col-md-2">
      <label>単価</label>
      <%= f.text_field :letter_price,size:7 %>
    </div>
    <div class="col-md-2">
      <label>数量</label>
      <%= f.text_field :letter_quantity,size:7 %>
    </div>
    <div class="col-md-3">
      <label>仕入れ先</label>
    <%= f.collection_select :letter_supplier_id, Supplier.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
    </div>
  </div>

  <div class="row">
    <label class="col-md-1">香典返し</label>
    <div class="col-md-2">
      <label>単価</label>
      <%= f.text_field :refreshment_price,size:7 %>
    </div>
    <div class="col-md-2">
      <label>数量</label>
      <%= f.text_field :refreshment_quantity,size:7 %>
    </div>
    <div class="col-md-3">
      <label>仕入れ先</label>
      <%= f.collection_select :refreshment_supplier_id, Supplier.all, :id, :name,  {:include_blank => true}, {style: "width:190px;",class: "supplier2"} %>
    </div>
    <div class="col-md-3">
      <label>商品</label>
      <%= f.collection_select :refreshment_product_id, Item.all, :id, :name,  {:include_blank => true}, {style: "width:190px;",id: "gift"} %>
    </div>
  </div>

  <div class="row">
    <label class="col-md-1">引き出物</label>
    <div class="col-md-2">
      <label>単価</label>
      <%= f.text_field :gift_price,size:7 %>
    </div>
    <div class="col-md-2">
      <label>数量</label>
      <%= f.text_field :gift_quantity,size:7 %>
    </div>
    <div class="col-md-3">
      <label>仕入れ先</label>
      <%= f.collection_select :gift_supplier_id, Supplier.all, :id, :name,  {:include_blank => true}, {style: "width:190px;",class: "supplier"} %>
    </div>
    <div class="col-md-3">
      <label>商品</label>
      <%= f.collection_select :gift_product_id, Item.all, :id, :name,  {:include_blank => true}, {style: "width:190px;",id: "itemresult"} %>
    </div>
  </div>

  <div class="row">
    <label class="col-md-1">夜具</label>
    <div class="col-md-2">
      <label>単価</label>
      <%= f.text_field :nightwear_price,size:7 %>
    </div>
    <div class="col-md-2">
      <label>数量</label>
      <%= f.text_field :nightwear_quantity,size:7 %>
    </div>
    <div class="col-md-3">
      <label>仕入れ先</label>
      <%= f.collection_select :nightwear_supplier_id, Supplier.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
    </div>
  </div>

  <div class="row">
    <label class="col-md-1">バス</label>
    <div class="col-md-2">
      <label>単価</label>
      <%= f.text_field :bus_price,size:7 %>
    </div>
    <div class="col-md-2">
      <label>数量</label>
      <%= f.text_field :bus_quantity,size:7 %>
    </div>
    <div class="col-md-3">
      <label>仕入れ先</label>
      <%= f.collection_select :bus_supplier_id, Supplier.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
    </div>
    <div class="col-md-3">
      <label>リム</label>
        <%= f.radio_button :r_bus, :有 %>有
        <%= f.radio_button :r_bus, :無 %>無
    </div>
  </div>

  <div class="form-group">
    <label class="left_column spacer">お食事関係</label>
    <%= f.collection_select :meal_supplier_id, Supplier.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>

    <div id="meals_form">
    <%= f.fields_for :meals do |m| %>
      <div class="form-group meals" id="add_meals_0">
        <%= m.text_field :item,placeholder: "項目名",style: "margin-left:88px" %>
        <%= m.text_field :price,placeholder: "金額",style: "width:80px;" %>円
        <%= m.text_field :number,placeholder: "項目数",style: "width:80px;" %>個
      </div>
    <% end %>
    <span class="btn btn-default btn-sm" id="add_item" style="margin-left:88px">項目追加</span>
  </div>

  
  
  <div class="form-group" style="margin-top:15px">
    <label class="left_column" style="vertical-align:top;">備考</label>
    &nbsp;<%= f.text_area :other,rows:7,style: "width:80%;" %>
  </div>

  <%= f.submit "施行済み葬儀登録", class: "btn btn-primary col-xs-12" %>
<% end %>

<script>
$(document).on("change", ".supplier", function(){
    var val = $(".supplier").val();
    $.get("/enforcements/itemserch",
      {
        val: val
      } 
      );
});

$(document).on("change", ".supplier2", function(){
    var val = $(".supplier2").val();
    $.get("/enforcements/giftserch",
      {
        val: val
      } 
      );
});

            function calcAge(birthdate, targetdate) {
            var age = targetdate.getFullYear() - birthdate.getFullYear();
            var birthday = new Date(targetdate.getFullYear(), birthdate.getMonth(), birthdate.getDate());
            if (targetdate < birthday) {
            age--;
            $("#afterAge").html(age)
            }
            $("#afterAge").html(age)
           }

                var year = $("#enforcement_birthday_1i").val();
                var year2 = $("#enforcement_ddate_1i").val();
                var age = year2 - year;
                $("#age").html(age)


                var month = $("#enforcement_birthday_2i").val();
                var day = $("#enforcement_birthday_3i").val();
                var date = year + "/" + month + "/" + day;
                var birthday = new Date(date)


                var month2 = $("#enforcement_ddate_2i").val();
                var day2 = $("#enforcement_ddate_3i").val();
                var date2 = year2 + "/" + month2 + "/" + day2;
                var ddeath = new Date(date2)

                var n = calcAge(birthday,ddeath);  

</script>