<div class="row">
  <a href="/enforcements" class="col-xs-3 btn btn-danger">戻る</a>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4 text-center"><h2>施行済葬儀・新規登録</h2></div>
</div>

<%= form_for(@enforce) do |f| %>

  <div class="form-group">
    <label class="left_column">家</label>
    <%= f.text_field :family_name %>
  </div>

  <% if @member %>
  <%= f.hidden_field :member_id, value: @member.id %>
    <div class="form-group">
      <label class="left_column">会員氏名</label>
      <%= @member.name %>
    </div>
  
    <div class="form-group">
      <label class="left_column">会員カナ</label>
      <%= @member.namekana %>
    </div>
  <% else %>
    <div class="form-group">
      <label class="left_column">氏名（一般）</label>
      <%= f.text_field :applicantlastname,size: 7 %>
      <%= f.text_field :applicantfirstname,size: 7 %>
    </div>
    <div class="form-group">
      <label class="left_column">氏名カナ</label>
      <%= f.text_field :applicantkana %>
    </div>
  <% end %>
  
  <div class="form-group">
    <label class="left_column">区分</label>
    <%= f.radio_button :classification, :ホクシン %>ホクシン
    <%= f.radio_button :classification, :共済会 %>共済会
  </div>
  
  <div class="form-group">
    <label class="left_column">会種</label>
    <%= f.collection_select :kind_id, Kind.all, :id, :text,  {:include_blank => true}, {style: "width:190px;"} %>
  </div>
  
  <div class="form-group">
    <label class="left_column">担当</label>
    <%= f.collection_select :employee_id, Employee.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
  </div>
  
  <div class="form-group">
    <label class="left_column">故人名</label>
    <%= f.text_field :deceased %>
  </div>

  <div class="form-group">
    <label class="left_column">生年月日</label>
    <%= f.date_select(:birthday, :use_month_numbers => true, start_year:1890, end_year:Time.now.year, default: Date.new(Time.now.year-40, 6, 15)) %><span id="age"></span>
  </div>
  
  <div class="form-group">
    <label class="left_column">死亡日</label>
    <%= f.date_select(:ddate, :use_month_numbers => true, start_year:1890, end_year:Time.now.year, default: Date.new(Time.now.year-40, 6, 15)) %><span id="age"></span>
  </div>

  <div class="form-group">
    <label class="left_column">喪主</label>
    <%= f.text_field :cliefmaster %>
    <label>続柄</label>
    <%= f.text_field :relationship %>
  </div>

  <div class="form-group">
    <label class="left_column">施主</label>
    <%= f.text_field :constructor %>
  </div>
  
  <% if @member %>
    <div class="form-group">
      <label class="left_column">市区町村</label>
      <%= @member.city %>
    </div>
  
    <div class="form-group">
      <label class="left_column _small">番地・ﾏﾝｼｮﾝ名</label>
      <%= @member.streetaddress %>
    </div>
  <% else %>
    <div class="form-group">
      <label class="left_column">市区町村</label>
      <%= f.text_field :city %>
    </div>
  
    <div class="form-group">
      <label class="left_column _small">番地・ﾏﾝｼｮﾝ名</label>
      <%= f.text_field :streetaddress %>
    </div>
  <% end %>
    
  <div class="form-group">
    <label class="left_column">固定電話</label>
    <%= f.text_field :tel %>
  </div>
    
  <div class="form-group">
    <label class="left_column">携帯電話</label>
    <%= f.text_field :mobile %>
  </div>

  <div class="form-group">
    <label class="left_column">プラン価格</label>
    <%= f.text_field :plan %>
    <label>総合計</label>
    <%= f.text_field :total %>
  </div>


  <div class="row">
    <label class="col-md-2" style="width:85px;">日時</label>
    <div class="col-md-10">
      <div style="width:60px;display:inline-block;">通夜</div>
      <%= f.datetime_select(:wake, :use_month_numbers => true, start_year:1890, end_year:Time.now.year, default: Date.new(Time.now.year, 6, 15)) %><span id="age"></span>
<br>
      <div style="width:60px;display:inline-block;" class="spacer">告別式</div>
      <%= f.datetime_select(:funeral, :use_month_numbers => true, start_year:1890, end_year:Time.now.year, default: Date.new(Time.now.year, 6, 15)) %><span id="age"></span>
<br>
      <div style="width:60px;display:inline-block;" class="spacer">出棺</div>
      <%= f.datetime_select(:coffin, :use_month_numbers => true, start_year:1890, end_year:Time.now.year, default: Date.new(Time.now.year, 6, 15)) %><span id="age"></span>

    </div> 

  </div>
  
  <div class="form-group spacer">
    <label class="left_column">式場名</label>
    <%= f.collection_select :ceremonial_id, Ceremonialplace.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
  </div>

  
<div class="row">
  <div class="col-md-4">
    <label class="left_column">式場使用料</label>
    <%= f.text_field :royarity %>
  </div>
  <div class="col-md-4">
    <label>当社負担分</label>
    <%= f.text_field :burdon %>
  </div>
  <div class="col-md-4">
    <label>光熱費</label>
    <%= f.text_field :ucosts %>
  </div>
</div>
  
  <div class="form-group">
    <label class="left_column spacer">寺院名</label>
    <%= f.collection_select :temple_id, Temple.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
  </div> 
  <div class="form-group">
    <label class="left_column">人数</label>
    <%= f.text_field :number_of_pepole %>
  </div> 
 
  <div class="row">
    <label class="col-md-1">礼状</label>
    <div class="col-md-2">
      <label>単価</label>
      <%= f.text_field :letter_price,size:7 %>
    </div>
    <div class="col-md-2">
      <label>数量</label>
      <%= f.text_field :letter_quantity,size:7 %>
    </div>
    <div class="col-md-3">
      <label>仕入れ先</label>
    <%= f.collection_select :letter_supplier_id, Supplier.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
    </div>
  </div>

  <div class="row">
    <label class="col-md-1">香典返し</label>
    <div class="col-md-2">
      <label>単価</label>
      <%= f.text_field :refreshment_price,size:7 %>
    </div>
    <div class="col-md-2">
      <label>数量</label>
      <%= f.text_field :refreshment_quantity,size:7 %>
    </div>
    <div class="col-md-3">
      <label>仕入れ先</label>
      <%= f.collection_select :refreshment_supplier_id, Supplier.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
    </div>
    <div class="col-md-3">
      <label>商品</label>
      <%= f.collection_select :refreshment_product_id, Item.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
    </div>
  </div>

  <div class="row">
    <label class="col-md-1">引き出物</label>
    <div class="col-md-2">
      <label>単価</label>
      <%= f.text_field :gift_price,size:7 %>
    </div>
    <div class="col-md-2">
      <label>数量</label>
      <%= f.text_field :gift_quantity,size:7 %>
    </div>
    <div class="col-md-3">
      <label>仕入れ先</label>
      <%= f.collection_select :gift_supplier_id, Supplier.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
    </div>
    <div class="col-md-3">
      <label>商品</label>
      <%= f.collection_select :gift_product_id, Item.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
    </div>
  </div>

  <div class="row">
    <label class="col-md-1">夜具</label>
    <div class="col-md-2">
      <label>単価</label>
      <%= f.text_field :nightwear_price,size:7 %>
    </div>
    <div class="col-md-2">
      <label>数量</label>
      <%= f.text_field :nightwear_quantity,size:7 %>
    </div>
    <div class="col-md-3">
      <label>仕入れ先</label>
      <%= f.collection_select :nightwear_supplier_id, Supplier.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
    </div>
  </div>

  <div class="row">
    <label class="col-md-1">バス</label>
    <div class="col-md-2">
      <label>単価</label>
      <%= f.text_field :bus_price,size:7 %>
    </div>
    <div class="col-md-2">
      <label>数量</label>
      <%= f.text_field :bus_quantity,size:7 %>
    </div>
    <div class="col-md-3">
      <label>仕入れ先</label>
      <%= f.collection_select :bus_supplier_id, Supplier.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
    </div>
    <div class="col-md-3">
      <label>リム</label>
        <%= f.radio_button :r_bus, :有 %>有
        <%= f.radio_button :r_bus, :無 %>無
    </div>
  </div>

  <div class="form-group">
    <label class="left_column spacer">お食事関係</label>
    <%= f.collection_select :meal_supplier_id, Supplier.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>

    <div id="meals_form">
    <%= f.fields_for :meals do |m| %>
      <div class="form-group meals" id="add_meals_0">
        <input type="text" name="enforcement[meals_attributes][0][item]" value="夕食" style="margin-left:88px">
        <input type="text" name="enforcement[meals_attributes][0][number]">
      </div>
      <div class="form-group meals" id="add_meals_1">
        <input type="text" name="enforcement[meals_attributes][1][item]" value="オードブル" style="margin-left:88px">
        <input type="text" name="enforcement[meals_attributes][1][number]">
      </div>
      <div class="form-group meals" id="add_meals_2">
        <input type="text" name="enforcement[meals_attributes][2][item]" value="朝食" style="margin-left:88px">
        <input type="text" name="enforcement[meals_attributes][2][number]">
      </div>
      <div class="form-group meals" id="add_meals_3">
        <input type="text" name="enforcement[meals_attributes][3][item]" value="昼食" style="margin-left:88px">
        <input type="text" name="enforcement[meals_attributes][3][number]">
      </div>
      <div class="form-group meals" id="add_meals_4">
        <input type="text" name="enforcement[meals_attributes][4][item]" value="忌中" style="margin-left:88px">
        <input type="text" name="enforcement[meals_attributes][4][number]">
      </div>
      <div class="form-group meals" id="add_meals_5">
        <input type="text" name="enforcement[meals_attributes][5[item]" value="黒飯" style="margin-left:88px">
        <input type="text" name="enforcement[meals_attributes][5][number]">
      </div>
    </div>
    <span class="btn btn-default btn-sm" id="add_item" style="margin-left:88px">項目追加</span>
    <% end %>
  </div>
  
  <div class="form-group" style="margin-top:15px">
    <label class="left_column" style="vertical-align:top;">備考</label>
    &nbsp;<%= f.text_area :other,rows:7,style: "width:80%;" %>
  </div>

  <%= f.submit "施行済み葬儀・新規登録", class: "btn btn-primary col-xs-12" %>
<% end %>