			<%= form_for(family) do |f| %>
  			<div class="modal-body">
  			  <div class="form-group">
    				<label class="left_column">住居</label>
    				<%= f.select :separately, Family.separatelies.keys, {prompt: '選択してください'} %>
   				</div>
   				
  			  <div class="form-group">
    				<label class="left_column">続柄</label>
    				<%= f.text_field :relationship %>
  				</div>

        <div class="form-group">
          <label class="left_column">氏名</label>
          <%= f.text_field :lastname,size: 7 %>
          
          <%= f.text_field :firstname,size: 7 %>
        </div>

        <div class="form-group">
          <label class="left_column">カナ</label>
          <%= f.text_field :namekana %>
        </div>
        
        <div class="form-group">
          <label class="left_column">誕生日</label>
          <%= f.date_select(:birthday, :use_month_numbers => true, start_year:1890, end_year:Time.now.year, default: Date.new(Time.now.year-40, 6, 15)) %><span id="age"></span>
        </div>        
  
        <div class="form-group">
          <label class="left_column">郵便番号</label>
          <%= f.text_field :postal, maxlength: "8",onKeyUp: "AjaxZip3.zip2addr(this,'','pref2','family[city]');", style: "width: 75px;" %>
        </div>  
  
        <div class="form-group">
            <input type="hidden" name="pref2">
            <label class="left_column">市区町村 </label>
            <%= f.text_field :city, id: "address_city", placeholder: "市区町村", style: "width: 80%" %>
        </div>
          
        <div class="form-group">
          <label class="left_column">番地 建物</label>
          <%= f.text_field :streetaddress, id: "address_street", placeholder: "番地、ビル・マンション名", style: "width: 80%" %>
        </div>  

        <div class="form-group">
          <label class="left_column">備考</label>
          <%= f.text_field :note %> 
        </div>  

        <label class="left_column">DM</label>
        <%= f.check_box :dm %> 
        
        <%= hidden_field_tag :member_id, params[:id] %>
  			</div>
  			<div class="modal-footer">
  				<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
  				<%= f.submit "家族登録", class: "btn btn-primary" %>
  			</div>
			<% end %>