<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>

<%= form_for(member, html: {class: 'form-horizontal',name: 'member'}) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

  <div class="form-group">
    <label>会員番号</label>
    <%= member.id %>
  </div>
  
  <div class="form-group">
    <div class="col-sm-4">
      <label>姓</label>
      <%= f.text_field :lastname, style: "width: 90px;" %>
      
      <label>名</label>
      <%= f.text_field :firstname, style: "width: 90px;" %>
    </div>

    <div class="col-sm-4">
      <label>カナ</label>
      <%= f.text_field :namekana, style: "width: 250px;" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <label>性別</label>
      <%= f.radio_button :gender, :男性 %>男性
      <%= f.radio_button :gender, :女性 %>女性
    </div>
    <div class="col-sm-4">
      <label>誕生日</label>
      <%= f.date_select(:birthday, :use_month_numbers => true, start_year:1890, end_year:Time.now.year, default: Date.new(Time.now.year-40, 6, 15)) %><span id="age"></span>
    </div>
  </div>
  

  
  <div class="form-group">
    <div class="col-sm-4">
      <label>郵便番号</label>
      <%= f.text_field :postal, maxlength: "8",onKeyUp: "AjaxZip3.zip2addr(this,'','pref','member[city]');", style: "width: 75px;" %>
    </div>
  </div>



  <div class="form-group">
    <div class="col-sm-8">
      <input type="hidden" name="pref">
      <label>市区町村 </label>
      <%= f.text_field :city, id: "address_city", placeholder: "市区町村", style: "width: 80%" %>
    </div>
  </div>
    
  <div class="form-group">
    <div class="col-sm-8">
      <label>番地 建物</label>
      <%= f.text_field :streetaddress, id: "address_street", placeholder: "番地、ビル・マンション名", style: "width: 80%" %>
    </div>
  </div>
    
  <div class="form-group">
    <label>固定電話</label>
    <%= f.text_field :tel %>
  </div>
    
  <div class="form-group">
    <label>携帯電話</label>
    <%= f.text_field :mobile %>
  </div>

  <div class="form-group">
    <label>宗派</label>
    <select>
    </select>
    <label>会種</label>
    <select>
    </select>
  </div>

<!--
  <div class="row">
    <div class="col-sm-3">
      <h2>家族情報</h2>
    </div>
    <div class="col-sm-9">
      <span class="btn btn-danger">追加</span>
    </div>   
  </div>

  <div class="row">
    <div class="col-sm-3">
      <h2>関係者情報</h2>
    </div>
    <div class="col-sm-9">
      <span class="btn btn-danger">追加</span>
    </div>    
  </div>

  <div class="row">
    <div class="col-sm-3">
      <h2>備考</h2>
    </div>
    <div class="col-sm-9">
      <span class="btn btn-danger">追加</span>
    </div>   
  </div>
-->

  <% if current_page?(:controller => 'members', :action => 'index') %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">検索</button>
    </div>
  <% else %>
    <p>登録すると家族情報や関係者情報が登録できます。</p>
    <%= f.submit "登録", class: "btn btn-primary" %>
  <% end %>
<% end %>

<script>
  function calcAge(birthdate) {
    var today= new Date()
    var age = today.getFullYear() - birthdate.getFullYear();

	  var birthday = new Date(today.getFullYear(), birthdate.getMonth(), birthdate.getDate());
  	if (today.getTime() < birthday.getTime()) {
  		age--;
  	}
  	return age;
  }

  var year = $("#member_birthday_1i").children(':selected').val();
  var month = $("#member_birthday_2i").children(':selected').val() -1 ;
  var day = $("#member_birthday_3i").children(':selected').val();
  var birthdate= new Date(year, month, day)
  age = calcAge(birthdate)
  console.log(age)
  document.getElementById("age").innerHTML= "("+age+"歳"+")" ;
</script> 