<div class="row">
  <a href="/" class="col-xs-3 btn btn-danger">戻る</a>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4 text-center"><h2>各種登録管理</h2></div>
</div>

<div class="row spacer">
  <div class="col-xs-4">
    <%= link_to "宗派管理", sects_path %>
  </div>
  <div class="col-xs-4">
    <%= link_to "会種管理", kinds_path %>
  </div>
  <div class="col-xs-4">
    <%= link_to "集金方法管理",collections_path %>
  </div>
</div>

<div class="row spacer">
  <div class="col-xs-4">
    <%= link_to "担当者管理", employees_path %>
  </div>
  <div class="col-xs-4">
    <%= link_to "式場管理", ceremonialplaces_path %>
  </div>
  <div class="col-xs-4">
    <%= link_to "仕入れ先管理", suppliers_path %>
  </div>
</div>

<div class="row spacer">
  <div class="col-xs-4">
    <%= link_to "課税方法管理", taxations_path %>
  </div>
  <div class="col-xs-4">
税率  </div>
  <div class="col-xs-4">
    <%= link_to "納品方法管理", deliverymethods_path %>
  </div>
</div>

<div class="row spacer">
  <div class="col-xs-4">
    <%= link_to "商品管理", items_path %>
  </div>
  <div class="col-xs-4">
    <%= link_to "寺院管理", temples_path %>
  </div>
  <div class="col-xs-4">
    <%= link_to "納品先管理", destinations_path %>
  </div>
</div>

<div class="row spacer">
  <div class="col-xs-4">
    <%= link_to "法要管理", buddhistmemorials_path %>
  </div>

</div>