<%= form_for(ledger) do |f| %>

  <% if @member %>
  <%= f.hidden_field :member_id,value: @member.id %>
    <div class="form-group">
      <label class="left_column">会員氏名</label>
      <%= @member.name %>
    </div>
  
    <div class="form-group">
      <label class="left_column">会員カナ</label>
      <%= @member.namekana %>
    </div>
  <% else %>
    <div class="form-group">
      <label class="left_column">氏名（一般）</label>
      <%= f.text_field :applicantlastname,size: 7 %>
      <%= f.text_field :applicantfirstname,size: 7 %>
    </div>
    <div class="form-group">
      <label class="left_column">氏名カナ</label>
      <%= f.text_field :applicantkana %>
    </div>
  <% end %>

  <div class="form-group">
    <label class="left_column">区分</label>
    <%= f.radio_button :classification, :ホクシン %>ホクシン
    <%= f.radio_button :classification, :共済会 %>共済会
  </div>

  <div class="form-group">
    <label class="left_column">会種</label>
    <%= f.collection_select :kind_id, Kind.all, :id, :text,  {:include_blank => true}, {style: "width:190px;"} %>
  </div>

  <div class="form-group">
    <label class="left_column">担当</label>
    <%= f.collection_select :employee_id, Employee.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
  </div>

  <div class="form-group">
    <label class="left_column">故人名</label>
    <%= f.text_field :deceased %>
  </div>

  <div class="form-group">
    <label class="left_column">出棺日</label>
    <%= f.date_select(:coffin, :use_month_numbers => true, start_year:1890, end_year:Time.now.year, default: Date.new(Time.now.year, 6, 15)) %><span id="age"></span>
  </div>

  <div class="wrap">
    <div class="left_box" style="display:inline-block;width:85px;vertical-align:top;">
      <label>売上</label>
    </div>
    <div style="display:inline-block;width:750px">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品</th>
            <th>数量</th>
            <th>単価</th>
            <th>課税方法</th>
          </tr>
        </thead>
        <tbody>
        <%= f.nested_fields_for :earnings, wrapper_tag: :tr do |e| %>
          	<td><%= e.collection_select :item, Item.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %></td>
            <td><%= e.text_field :quantity %></td>  <%# required: true JS空白不可のバリデーション %>
            <td><%= e.text_field :price %></td>
          	<td><%= e.collection_select :taxclass, Taxation.all, :id, :text,  {:include_blank => true}, {style: "width:190px;"} %></td>
        <% end %>
        </tbody>
      </table>
      <%= f.add_nested_fields_link :earnings, '単価項目追加', class: 'btn btn-default', role: 'button' %>
    </div>
  </div>

<hr>
  <div class="wrap">
    <div class="left_box" style="display:inline-block;width:85px;vertical-align:top;">
      <label>原価</label>
    </div>
    <div id="costs_box"  style="display:inline-block;width:700px">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>仕入れ先</th>
            <th>商品</th>
            <th>数量</th>
            <th>単価</th>
          </tr>
        </thead>
        <tbody>
        <%= f.nested_fields_for :costs, wrapper_tag: :tr do |c| %>
          	<td><%= c.collection_select :supplier, Supplier.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %></td>
            <td><%= c.text_field :item %></td>  <%# required: true JS空白不可のバリデーション %>
            <td><%= c.text_field :quantity %></td>
            <td><%= c.text_field :price %></td>
        <% end %>
        </tbody>
      </table>
      <%= f.add_nested_fields_link :costs, '原価項目追加', class: 'btn btn-default', role: 'button' %>
    </div>
  </div>


  <div class="form-group spacer">
    <label class="left_column">備考</label>
    <%= f.text_field :other, style: "width:80%" %>
  </div>

  <%= f.submit "登録", class: "col-xs-12 btn btn-primary" %>
<% end %>