<div class="row">
  <a href="/ledgers" class="col-xs-3 btn btn-danger">戻る</a>
  <div class="col-xs-3 col-xs-offset-6 btn btn-danger">印刷</div>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4 text-center"><h2>葬儀売上原価・詳細</h2></div>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4 text-center"><%= link_to "編集する",edit_ledger_path(@ledger),class: "btn btn-success", style: "width:100%" %></div>
</div>


  <% if @member %>
    <div class="row">
      <label class="left_column">会員氏名</label>
      <%= link_to @member.name, edit_member_path(@member) %>
    </div>
  
    <div class="row">
      <label class="left_column">会員カナ</label>
      <%= @member.namekana %>
    </div>
  <% else %>
    <div class="row">
      <label class="left_column">氏名（一般）</label>
      <%= @ledger.applicantlastname %>
      <%= @ledger.applicantfirstname %>
    </div>
    <div class="row">
      <label class="left_column">氏名カナ</label>
      <%= @ledger.applicantkana %>
    </div>
  <% end %>

  <div class="row">
    <label class="left_column">区分</label>
    <%= @ledger.classification%>
  </div>

  <div class="row">
    <label class="left_column">会種</label>
    <%= Kind.find(@ledger.kind_id).text if @ledger.kind_id.present? %>
  </div>

  <div class="row">
    <label class="left_column">担当</label>
    <%= Employee.find(@ledger.employee_id).name if @ledger.employee_id.present? %>
  </div>

  <div class="row">
    <label class="left_column">故人名</label>
    <%= @ledger.deceased %>
  </div>

  <div class="row">
    <label class="left_column">出棺日</label>
    <%= @ledger.coffin %>
  </div>

  <div class="wrap">
    <div class="row left_box" style="display:inline-block;width:85px;vertical-align:top;">
      <label>売上</label>
    </div>
    <div style="display:inline-block;width:750px">
      <table class="table table-bordered table-sortable" style="table-layout: fixed;">
        <thead>
          <tr>
            <th style="width:300px">商品</th>
            <th style="width:100px">数量</th>
            <th style="width:100px">単価</th>
            <th style="width:100px">金額</th>
            <th style="width:200px">課税方法</th>
          </tr>
        </thead>
        <tbody>
        <% earntotal = 0 %>
        <% @earnings.each do |e| %>
          <tr class="item" data-model-name="earning" data-update-url="<%= sort_earning_path(e.id) %>">
          	<td><%= Item.find(e.item).name if e.item.present? %></td>
            <td><%= e.quantity %></td>
            <td><%= e.price %></td>
            <td><%= et = e.quantity * e.price if e.quantity && e.price %></td>
          	<td><%= Taxation.find(e.taxclass).text if e.taxclass.present? %></td>
          	<% earntotal += et if et.present? %>
          </tr>
        <% end %>
          <tr style="font-weight:700; color:#f00">
            <td>合計</td>
            <td></td>
            <td></td>
            <td><%= earntotal %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<hr>

  <div class="wrap">
    <div class="row left_box" style="display:inline-block;width:85px;vertical-align:top;">
      <label>原価</label>
    </div>
    <div id="costs_box"  style="display:inline-block;width:700px">
      <table class="table table-bordered table-sortable" style="table-layout: fixed;">
        <thead>
          <tr>
            <th style="width:300px">商品</th>
            <th style="width:100px">数量</th>
            <th style="width:100px">単価</th>
            <th style="width:100px">金額</th>
            <th style="width:200px">仕入れ先</th>
          </tr>
        </thead>
        <tbody>
        <% total = 0 %>
        <% @costs.each do |c| %>
          <tr class="item" data-model-name="cost" data-update-url="<%= sort_cost_path(c.id) %>">
            <td><%= Item.find(c.item).name if c.item.present? %></td>
            <td><%= c.quantity %></td>
            <td><%= c.price %></td>
            <td><%= t = c.quantity * c.price if c.quantity && c.price.present? %></td>
          	<td><%= Supplier.find(c.supplier).name if c.supplier.present? %></td>
          </tr>
          <% total += t if t.present? %>
        <% end %>
          <tr style="font-weight:700; color:#00f">
            <td>合計</td>
            <td></td>
            <td></td>
            <td><%= total %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row spacer">
    <label class="left_column">備考</label>
    <%= @ledger.other %>
  </div>

