<div class="row">
  <a href="/settings" class="col-xs-3 btn btn-danger">各種登録管理へ戻る</a>
  <div class="col-xs-3 col-xs-offset-6"></div>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4 text-center"><h2>商品管理</h2></div>
</div>

<table class="table table-boarderd">
  <thead>
    <th>id</th>
    <th>仕入れ先</th>
    <th>商品ID</th>
    <th>商品名</th>
    <th>売価</th>
    <th>原価</th>
  </thead>
  <tbody>
<%= form_for(Item.new) do |f| %>
    <td><%= f.text_field :id,size: 2 %></td>
    <td><%= f.collection_select :supplier_id, Supplier.all, :id, :name,  {:include_blank => true} %></td>
</td>
    <td><%= f.text_field :item_id,size: 4 %></td>
    <td><%= f.text_field :name,size: 30 %></td>
    <td><%= f.text_field :sell,size: 12 %></td>
    <td><%= f.text_field :cost,size: 12 %></td>
  <td><%= f.submit "登録" %></td>
<% end %>
  </tbody>
</table>
  
<%= paginate @items %>
<table class="table table-boarderd">
  <thead>
    <th>id</th>
    <th>仕入れ先</th>
    <th>商品ID</th>
    <th>商品名</th>
    <th>売価</th>
    <th>原価</th>
  </thead>
  <tbody>
<% @items.each do |p| %>
  <%= form_for(Item.find(p.id)) do |f| %>
  <tr>
    <td><%= p.id %></td>
    <td><%= f.collection_select :supplier_id, Supplier.all, :id, :name,  {:include_blank => true} %></td>
    <td><%= f.text_field :item_id,size: 5 %></td>
    <td><%= f.text_field :name,size: 30 %></td>
    <td><%= f.text_field :sell,size: 12 %></td>
    <td><%= f.text_field :cost,size: 12 %></td>
    <td><%= f.submit "編集" %></td>
  </tr>
  <% end %>
<% end %>
  </tbody>
</table>

<%= paginate @items %>
