<div class="row">
  <a href="/reports" class="col-xs-3 btn btn-danger">戻る</a>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4 text-center"><h2>受発注報告・新規登録</h2></div>
</div>

<%= form_for(@report) do |f| %>


  <div class="form-group">
    <label class="left_column">本会員</label>
    <%= f.text_field :member_id %>
  </div>
  
  <div class="form-group">
    <label class="left_column">区分</label>
    <%= f.radio_button :classification, :ホクシン %>ホクシン
    <%= f.radio_button :classification, :共済会 %>共済会
  </div>

  <div class="form-group">
    <label class="left_column">担当</label>
    <%= f.collection_select :employee_id, Employee.all, :id, :name,  {:include_blank => true}, {style: "width:190px;"} %>
  </div>
  
  <div class="form-group">
    <label class="left_column">受注日</label></label>
    <%= f.date_select(:orderdate, :use_month_numbers => true, start_year:1890, end_year:Time.now.year, default: Date.new(Time.now.year-40, 6, 15)) %><span id="age"></span>
  </div>
  
  <div class="form-group">
    <label class="left_column">納品日</label>
    <%= f.date_select(:deliverydate, :use_month_numbers => true, start_year:1890, end_year:Time.now.year, default: Date.new(Time.now.year-40, 6, 15)) %><span id="age"></span>
  </div>
  
  <div class="form-group">
    <label class="left_column">入金日</label>
    <%= f.date_select(:payment, :use_month_numbers => true, start_year:1890, end_year:Time.now.year, include_blank: true) %><span id="age"></span>
  </div>

  <div class="form-group">
      <label class="left_column">氏名</label>
      <%= f.text_field :lastname, style: "width: 90px;" %>
      <%= f.text_field :firstname, style: "width: 90px;" %>
      <label style="margin-left:30px;">カナ</label>
      <%= f.text_field :namekana, style: "width: 200px;" %>
  </div>


  <div class="form-group">
    <label class="left_column">故人名</label>
    <%= f.text_field :deceased %>
  </div>

  <div class="form-group">
    <label class="left_column">市区町村 </label>
    <%= f.text_field :city, id: "address_city", style: "width: 80%" %>
  </div>
    
  <div class="form-group">
    <label class="left_column _small">番地・ﾏﾝｼｮﾝ名</label>
    <%= f.text_field :streetaddress, id: "address_street", style: "width: 80%" %>
  </div>
    
  <div class="form-group">
    <label class="left_column">固定電話</label>
    <%= f.text_field :tel %>
  </div>
    
  <div class="form-group">
    <label class="left_column">携帯電話</label>
    <%= f.text_field :mobile %>
  </div>

  <div class="form-group">
    <label class="left_column">集金方法</label>
    <%= f.collection_select :collection_id, Collection.all, :id, :text,  {:include_blank => true}, {style: "width:190px;"} %>
  </div>

  <div class="form-group">
    <label class="left_column">売上合計</label>
  </div>
  
  <div class="form-group">
    <label class="left_column">原価合計</label>
  </div>
  
  
  <div class="form-group">
    <label class="left_column">備考</label>
    &nbsp;<%= f.text_area :other,rows:7,style: "width:80%" %>
  </div>

  <%= f.submit "施行済み葬儀・新規登録", class: "btn btn-primary col-xs-12" %>
<% end %>