<div class="row underspacer">
  <label class="left_column">家族情報</label>
  <span class="btn btn-danger btn-sm" data-toggle="modal" data-target="#familyForm">追加</span>
</div>

<% if families.present? %>
<table class="table table-bordered table-sortable ui-sortable">
  <thead>
    <tr>
      <th>住居</th>
      <th>続柄</th>
      <th>氏名</th>
      <th>カナ</th>
      <th>生年月日</th>
      <th>年齢</th>
      <th>郵便番号</th>
      <th>住所1</th>
      <th>住所2</th>
      <th>備考</th>
      <th>DM</th>
    </tr>
  </thead>
  <tbody>
  <% families.each do |fa| %>
    <tr class="item" data-model-name="family" data-update-url="<%= sort_family_path(fa.id) %>">
      <td><%= fa.separately %></td>
      <td><%= fa.relationship %></td>
      <td><%= fa.lastname + " " + fa.firstname %></td>
      <td><%= fa.namekana %></td>
      <td><%= fa.birthday %></td>
      <td><%= age(fa.birthday) %></td>
      <td><%= fa.postal %></td>
      <td><%= fa.city %></td>
      <td><%= fa.streetaddress %></td>
      <td><%= fa.note %></td>
      <td><%= boolean(fa.dm) %></td>
      <td class="no-wrap"><%= link_to "修正", edit_family_path(fa),class: "btn btn-primary btn-xs" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
      

