<div class="row">
  <div class="col-sm-3">
    <h2>関係者情報</h2>
  </div>
  <div class="col-sm-9">
    <span class="btn btn-danger" data-toggle="modal" data-target="#relationForm">追加</span>
    <% if @relationships.present? %>
      <table class="table table-bordered table-sortable2 ui-sortable">
        <thead>
          <tr>
            <th>名前</th>
            <th>備考</th>
          </tr>
        </thead>
        <tbody>
      <% @relationships.each do |r| %>
        <tr class="item" data-model-name="member" data-update-url="<%= sort_member_path(r.id) %>">
          <td><%= link_to r.lastname + " " + r.firstname, edit_member_path(r) %></td>
          <td><%= user.relations.find_by(member_id: r.id).text %></td>
          <!--<td><%#= r.row_order %></td>-->
        </tr>
      <% end %>
    <%end %>
        </tbody>
      </table>
      
<div id="hoge_container">
  <table id="members">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody class="page">
      <%= render members, m: user %>
    </tbody>
  </table>
  
    <%= paginate members, remote: true %> 
</div>
      
      
    <div class="modal fade" id="relationForm" tabindex="-1">
    	<div class="modal-dialog">
    		<div class="modal-content">
    			<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
    				<h4 class="modal-title">関係者情報追加</h4>



    			</div>
    		</div>
	    </div>
    </div>
  </div>
</div>