<div class="row">
  <a href="/" class="col-xs-3 btn btn-danger">戻る</a>
  <div class="col-xs-4 col-xs-offset-1 text-center"><h2>会員</h2></div>
  <div class="col-xs-3 col-xs-offset-1 btn btn-danger">印刷</div>
</div>

<div class="row" style="margin:30px 0;">
  <div><%= link_to "会員新規登録", new_member_path, class: "col-xs-4 col-xs-offset-4 btn btn-primary" %></div>
</div>
<%= @text %>

<div class="row spacer">
  <div class="col-xs-4">
  <%= form_tag(members_path, method: :get, class: 'form-inline') do %>
    <%= text_field_tag :keyword, @keyword, class: 'form-control input-sm', placeholder: "キーワードを入力" %>
    <%= submit_tag '検索', class: 'btn btn-success btn-sm' %>
  <% end %>
  </div>
  
  <div class="col-xs-4">
  <%= form_tag(members_path, method: :get, class: 'form-inline') do %>
    <%= text_field_tag :tel, @tel, class: 'form-control input-sm', placeholder: "電話番号を入力"  %>
    <%= submit_tag '検索', class: 'btn btn-success btn-sm' %>
  <% end %>
  </div>
  
  <div class="col-xs-4">
  <%= form_tag(members_path, method: :get, class: 'form-inline') do %>
    <%= text_field_tag :family, @family, class: 'form-control input-sm', placeholder: "家族検索"  %>
    <%= submit_tag '検索', class: 'btn btn-success btn-sm' %>
  <% end %>
  </div>

</div>


<div class="row spacer">
  <div class="col-xs-4 col-xs-offset-4">
  <a class="col-xs-3 btn btn-defalut" data-toggle="modal" data-target="#serchModal">オプション検索</a>
  </div>
</div>

<div class="modal fade" id="serchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">会員検索</h4>
        </div>
        <div class="modal-body">

          <%= form_for(@member, :url => {:controller => :members, :action => :index}, html: {method: 'GET'}) do |f| %>
            <%= hidden_field_tag :form, "true" %>
            <div class="form-group">
              <%= f.label :id, "会員番号" %>
              <%= f.number_field :id %>
            </div>

            <div class="form-group">
              <label>姓</label>
              <%= f.text_field :lastname %>
              <label>名</label>
              <%= f.text_field :firstname %><br>
              <label>カナ</label>
              <%= f.text_field :namekana %>
            </div>
            
            <div class="form-group">
              <label>性別</label>
              <%= f.radio_button :gender, :男性 %>男性
              <%= f.radio_button :gender, :女性 %>女性
            </div>
            
            <div class="form-group">
              <label>住所1</label>
              <%= f.text_field :city %>
            </div>            
            
            <div class="form-group">
              <label>住所2</label>
              <%= f.text_field :streetaddress %>
            </div>              
            
            <div class="form-group">
              <label>電話番号</label>
              <%= f.text_field :tel %>
            </div>             
            
            <div class="form-group">
              <label>宗派</label>
                <%= f.collection_select :sect, Sect.all, :id, :sect,  :include_blank => true %>
              <label>会種</label>
            </div>             
            
            <div class="form-group">
              <label>登録日</label>
            </div> 

            <div class="form-group">
              <label>変更日</label>
            </div> 

            <div class="form-group">
              <label>備考</label>
              <label>付箋</label>
            </div> 
            
            <div class="form-group">
              <label>DM送付</label>
              <%= f.check_box :dm %> 
              <label>予備</label>
              <%= f.check_box :reserve %>
            </div> 
            
            <div class="form-group">
              <label>並び順</label>
            </div> 

            <div class="form-group">
              <label>条件</label>
            </div> 

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "検索" ,class: "btn btn-primary" %>
          <% end %>
        </div>
    </div>
  </div>
</div>


<% if @members.present? %>
<%= paginate @members %>

<table class="table">
  <thead>
    <tr>
        <th>会員番号</th>
        <th>氏名</th>
        <th>カナ</th>
        <th>住所１</th>
        <!-- <th>住所2</th> -->
        <th>固定電話</th>
        <th>携帯電話</th>
        <th>宗派</th>
        <th>会種</th>
        <th>登録日</th>
        <th>修正日</th>
    </tr>
  </thead>
  <tbody>
  <% @members.each do |m| %>
    <tr>
      <td><%= m.id %></td>
      <td><%= link_to m.lastname + " " + m.firstname, edit_member_path(m) %></td>
      <td><%= m.namekana %></td>
      <td><%= m.city %></td>
      <td><%= m.tel %></td>
      <td><%= m.mobile %></td>
      <td><%= Sect.find(m.sect).sect if m.sect.present? %></td>
      <td><%= m.kind %></td>
      <td><%= m.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= m.updated_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @members %>

<% elsif @families.present? %>
<%= paginate @families %>

<table class="table">
  <thead>
    <tr>
        <th>会員番号</th>
        <th>氏名</th>
        <th>カナ</th>
        <th>住所１</th>
        <!-- <th>住所2</th> -->
        <th>固定電話</th>
        <th>携帯電話</th>
        <th>宗派</th>
        <th>会種</th>
        <th>登録日</th>
        <th>修正日</th>
    </tr>
  </thead>
  <tbody>
  <% @families.each do |f| %>
  <% m = f.member %>
    <tr>
      <td><%= m.id %></td>
      <td><%= link_to m.lastname + " " + m.firstname, edit_member_path(m) %></td>
      <td><%= m.namekana %></td>
      <td><%= m.city %></td>
      <td><%= m.tel %></td>
      <td><%= m.mobile %></td>
      <td><%= Sect.find(m.sect).sect if m.sect.present? %></td>
      <td><%= m.kind %></td>
      <td><%= m.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= m.updated_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @families %>

<% else %>

<div class="alert alert-danger spacer">
  ご入力のワードでは検索できませんでした。
</div>
<% end %>